.sec-won{
    display: flex;
}
.bannar-contenar{
     margin: 100px;
}
.bannar-imgS img{
    width: 650px;
}
.taitel{
    color: rgb(85, 85, 85);
    font-weight: bold;
    font-size: 70px;
}
#taotel-speshal{
    color: rgb(251, 162, 79, 100%);
}
.para{
    color: grey;
    font-size: 30px;
}
.btn{
    text-decoration: none;
    font-weight: 700;
    background-color: rgb(251, 162, 79, 100%);
    color: white;
    font-size: 25px;
    padding: 20px 30px 20px 30px;
    border-radius: 16px;
    display: inline-block;
    margin-top: 30px;
}


.sec-tow{
    display: flex;
    background-image: url(../img/Backgrund.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.com-width{
    width: 100%;
    margin-left: 12%;
}
.sec-img img{
    max-width: 60%;
    padding: 30px;
    margin-top: 64px
}
.sec-tow-taitel{
    padding: 100px;
}
.taitel1{
    font-weight: 700;
    font-size: 50px;
    
}
.sec-tow-taitel p{
    font-size: 18px;
    color: rgb(85, 85, 85);
}
 